<!-- Interpolation -->
<app-post></app-post>
<p>{{title}}</p>
<p><strong>{{number - 2}}</strong></p>
<p><strong>{{arr}}</strong></p>
<p><strong>{{obj}}</strong></p>
<p><strong>{{obj.a}}</strong></p>
<p><strong>{{obj.b.c}}</strong></p>
<p><strong>{{'строка находу в интерполяции'}}</strong></p>
<hr>
<app-post4></app-post4>

<!-- Binding -->
<!-- <img [src]="img" alt=""> -->

<!-- Event Binding -->
<button (click)="onClick()">click me!</button>
<input 
  type="text" 
  (keyup.enter)="onInput($event)" 
  (blur)="onBlur(myInput.value)" 
  #myInput>
<p><strong>{{inputValue}}</strong></p>

